/* ---HEADER--- */
header {
  background-color: #EBE0D0;
  align-content: center;
}
.acnh-logo {
  width: 150px;
  margin-left: 20px;
}

.header-style {
  font-family: 'FinkHeavy';
}

h2{
  font-family:'FinkHeavy';
  font-size: xx-large;
}

.bg{
  background-color: #8ecfea ;
  background-size: cover;
  background-repeat:no-repeat;
  height: 100vh;
}

/* ---FOOTER---- */
.footer-style {
  font-family: 'FinkHeavy';
}

.not-found {
  font-size: 100px;
  color: red;
  background-color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}