*{
  margin: 0;
  padding: 0;
}
.page-body {
  text-align: center;
  height: 110vh;
  background-image: url("/src/assets/img/acnh-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
}

/* ---HEADER--- */

header {
  background-color: #EBE0D0;
}
.acnh-logo {
  width: 150px;
  margin-left: 20px;
}

.header-style.navbar-brand {
  font-family: 'FinkHeavy';
  font-size: 30px;
  justify-content: center;
}

h2{
  font-family:'FinkHeavy';
  font-size: xx-large;
}

.bg{
  background-color: #8ecfea ;
  background-size: cover;
  background-repeat:no-repeat;
  height: 100vh;
}

/* ----HOME---- */
.home-wrapper{
  padding-top: 20vh;
}
.logo{
  width: 35vw;
  -webkit-animation: spin 5s  ease;
  animation: spin 5s  ease;
}

.button-container{
  margin: 75px;
}

/* ---INDEX--- */
.index-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card.card-body {
  width: 300px;
  background-color: #FFFEF1;
  margin: 20px;
}
.btn.btn-secondary {
  width: 125px;
  margin: 10px;
  background-color: #f8eebc;
  color: #017c74;
  font-weight: bolder;
}
.btn.btn-secondary:hover {
  color: #017c74;
  background-color: #f7d359;
}
/* ---NOT FOUND--- */
.not-found {
  font-size: 100px;
  color: red;
  background-image: url("/src/assets/img/notfound.jpeg");
}

/* ---SHOW--- */
.card-show.card.card-body {
  margin: 0 auto;
}

/* ---FOOTER---- */
.footer-style {
  font-family: 'FinkHeavy';
}

.footer {
  font-size: 20px;
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  align-content: center;
  justify-content: center;
  background-color: #fff9e5;
  font-family: 'FinkHeavy';
}

.footer .nav-link {
  color: #017c74;
}


/*------ANIMATIONS-------*/

@-webkit-keyframes spin{
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin{
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}